@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #191919;
  --color-foreground: #262626;
  --color-foreground-mate: #5d5d5d;

  /* General Typography */
  --text-small: 12px;
  --text-secondary: 14px;
  --text-body: 16px;
  --text-logo: clamp(1.13rem, 0.3vi + 1.06rem, 1.5rem);
  /* Specific Typography */
  --text-temp-current: 8rem;
  --text-temp-state: 4rem;
  --text-temp-state-desc: 2.5rem;

  --size-icon-small: 15px;
  --size-icon-secondary: 25px;
  --size-icon-primary: clamp(1.56rem, 0.99vi + 1.33rem, 2.81rem);

  /* Spacing */
  --spacing-tight: 5px;
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;

  --radius-radius: 10px;
  --height-nav: 75px;
}

/* =========================
   DARK MODE TOKENS
========================= */
.dark {
  --color-background: #262626;
  --color-foreground: #f9f9f9;
  --color-foreground-mate: #c8c8c8;
}

@layer base {
  body,
  html {
    min-width: 375px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;

    color: var(--color-foreground);
    background-color: white;
    font-family: "Inter", sans-serif;
    position: relative;
  }
}
