@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-foreground: #262626;
  --color-foreground-mate: #3b3b3b;

  /* General Typography */
  --text-small: 12px;
  --text-secondary: 14px;
  --text-body: 16px;
  --text-error: clamp(1.13rem, 0.3vi + 1.06rem, 1.5rem);
  --text-logo: clamp(1.13rem, 0.3vi + 1.06rem, 1.5rem);
  /* Specific Typography */

  --text-temp-current: clamp(8rem, 3.16vi + 7.26rem, 12rem);
  --text-temp-state-large: clamp(2.5rem, 1.48vi + 2.15rem, 4.38rem);
  --text-temp-state-medium: clamp(1.88rem, 0.74vi + 1.7rem, 2.81rem);
  --text-temp-state-small: clamp(1.25rem, 0.74vi + 1.08rem, 2.19rem);
  --text-compass: clamp(0.5rem, 0.2vi + 0.45rem, 0.75rem);

  --size-icon-small: 15px;
  --size-icon-secondary: 25px;
  --size-icon-primary: clamp(1.56rem, 0.99vi + 1.33rem, 2.81rem);
  --size-compass: clamp(6.25rem, 4.94vi + 5.09rem, 12.5rem);
  /* Spacing */
  --spacing-tight: 5px;
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;

  --radius-radius: 10px;
  --height-nav: 75px;

  --breakpoint-sm: 485px;
}

.dark {
  --color-foreground: #efefef;
  --color-foreground-mate: #363636;
}

@layer base {
  body,
  html {
    min-width: 375px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    color: var(--color-foreground);
    font-family: "Inter", sans-serif;
    position: relative;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hourly-scroll {
    overflow-x: auto;

    /* THIS creates the timeline */
    scroll-timeline: --hours inline;
  }

  .forecast-arrow {
    animation-name: fadeArrow;
    animation-fill-mode: both;
    animation-timing-function: linear;

    /* Firefox requires duration */
    animation-duration: 1ms;

    /* connect to scroll */
    animation-timeline: --hours;
  }

  @keyframes fadeArrow {
    0% {
      opacity: 1;
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .banner {
    grid-area: banner;
  }

  .hourly {
    grid-area: hourly;
  }

  .weekly {
    grid-area: weekly;
  }

  .uv {
    grid-area: uv;
  }

  .wind {
    grid-area: wind;
  }

  .humidity {
    grid-area: humidity;
  }

  .visibility {
    grid-area: visibility;
  }

  .pressure {
    grid-area: pressure;
  }

  .rain {
    grid-area: rain;
  }

  .sunpath {
    grid-area: sunpath;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "banner banner"
    "hourly hourly"
    "uv humidity"
    "wind wind"
    "visibility pressure"
    "rain rain"
    "sunpath sunpath"
    "weekly weekly";
}

@media (min-width: 490px) and (max-width: 590px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "banner banner banner"
      "hourly hourly hourly"
      "wind wind pressure"
      "wind wind visibility "
      "uv rain humidity"
      "sunpath sunpath sunpath"
      "weekly weekly weekly";
  }
}

@media (min-width: 591px) and (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "banner banner banner banner"
      "uv uv rain rain "
      "hourly hourly hourly hourly"
      "wind wind sunpath sunpath"
      "weekly weekly weekly weekly"
      "humidity visibility pressure pressure";
  }
}

@media (min-width: 901px) and (max-width: 1349px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      "banner  banner banner banner banner"
      "hourly hourly hourly hourly hourly"
      "wind sunpath sunpath uv uv "
      "wind sunpath sunpath rain rain"
      "wind weekly weekly humidity visibility"
      "wind weekly weekly pressure pressure";
  }
}

@media (min-width: 1350px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "banner banner hourly hourly hourly hourly "
      "banner banner sunpath sunpath weekly weekly "
      "banner banner sunpath sunpath weekly weekly "
      "banner banner visibility pressure wind wind"
      "banner banner rain humidity wind wind"
      "banner banner uv uv wind wind";
  }
}
